@import "../_base/base";

slider {
    display: inline-block;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 0 0 50px;
    vertical-align: middle;
}

slider span {
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}
slider span.base {
    width: 100%;
    height: 100%;
    padding: 0;
}
slider span.bar {
    width: 100%;
    height: 100%;
    z-index: 1;
    @include my-border-radius(1em);
    background: $colorContent;
}
slider span.bar.selection {
    width: 0%;
    z-index: 2;
    @include ie-opacity(0.5);
}
slider span.pointer {
    cursor: pointer;
    width: 14px;
    height: 14px;
    top: -7px;
    background-color: #fff;
    border: 1px solid $colorContent;
    z-index: 3;
    @include my-border-radius(1em);
}
slider span.pointer:after {
    content: '';
    display: none;
    background-color: #fff;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 6px;
    left: 6px;
    @include my-border-radius(1em);
}
slider span.pointer:hover:after {
    background-color: $colorContent;
}
slider span.pointer.active:after {
    background-color: $colorContent;
}
slider span.bubble {
    cursor: default;
    top: 15px;
    padding: 1px 3px 1px 3px;
    font-size: 15px;
    font-family: $fontItalic;
    color: $colorDarkGrey;
    line-height: 20px;
}
slider span.bubble.selection {
    top: 15px;
}
slider span.bubble.limit {

}
